@import "tailwindcss";
body {
  background-color: #f5f5f5;
  color: #2e2e30;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
:root {
  --primary-color: #f82ba9;
  --secondary-color: #feedf7;
  --dark-blue: #160e4b;
  --font-inter: "Inter", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}
