
<nav class="mobile-nav">
  <div class="preview-btn-container">
    <button pButton class="preview-btn rounded-full">
      <img src="/icon/flower.png" alt="Logo" />
    </button>
  </div>
  <a class="nav-item" routerLink="/overview" routerLinkActive="active">
    <img src="/icon/layout-dashboard.png" alt="Overview" />
    <span>Overview</span>
  </a>
  <a class="nav-item" routerLink="/categories" routerLinkActive="active">
    <img src="/icon/clipboard-list.png" alt="Categories" />
    <span>Categories</span>
  </a>
  <a class="nav-item" routerLink="/occasions" routerLinkActive="active">
    <img src="/icon/calendar-heart.png" alt="Occasions" />
    <span>Occasions</span>
  </a>
  <a class="nav-item" routerLink="/products" routerLinkActive="active">
    <img src="/icon/package.png" alt="Products" />
    <span>Products</span>
  </a>
</nav>
